target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Jrebel ###
/house-web/src/main/resources/rebel.xml
/house-common/src/main/resources/rebel.xml
/house-biz/src/main/resources/rebel.xml
