<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.house.biz.mapper.HouseMapper">
    <sql id="houseField">
     a.id,
     a.type,
     a.name,
     a.price,
     a.images,
     a.area,
     a.beds,
     a.baths,
     a.rating,
     a.remarks,
     a.properties,
     a.floor_plan,
     a.tags,
     a.create_time,
     a.city_id,
     a.community_id,
     a.address,
     a.state

    </sql>

    <sql id="houseCondition">
        <if test="house.userId!=null and house.userId!=0">
            INNER JOIN (SELECT house_id,user_id from house_user
            <where>
                user_id=#{house.userId}
                <if test="house.bookMarked!=null and house.bookMarked==false">
                    and type=1
                </if>
                <if test="house.bookMarked!=null and house.bookMarked==true">
                    and type=2
                </if>
            </where>
            ) b
            on a.id=b.house_id
        </if>
        <where>
            state=1
            <if test="house.id!=null and house.id!=0">
                and a.id=#{house.id}
            </if>
            <if test="house.type!=null">
                and a.type=#{house.type}
            </if>
            <if test="house.name!=null and house.name!=''">
                <bind name="pattern1" value="'%'+house.name+'%'"/>
                and a.name like #{pattern1}
            </if>
            <if test="house.ids!=null and house.ids.size()>0">
                and a.id in
                <foreach collection="house.ids" item="item" index="index" open="(" close=")" separator=",">
                  #{item}
                </foreach>
            </if>
        </where>
    </sql>
    <insert id="insertUserMsg">
        insert into
        house_msg (msg,create_time,agent_id,house_id,user_name)
        values(#{msg},#{createTime},#{agentId},#{houseId},#{userName})
    </insert>
    <insert id="insertHouse" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO house
        (name,type,price,images,area,beds,baths,rating,remarks,properties,floor_plan,tags,create_time,city_id,community_id,address,state)
        VALUES
        (
                     #{name},
                     #{type},
                     #{price},
                     #{images},
                     #{area},
                     #{beds},
                     #{baths},
                     #{rating},
                     #{remarks},
                     #{properties},
                     #{floorPlan},
                     #{tags},
                     #{createTime},
                     #{cityId},
                     #{communityId},
                     #{address},
                     #{state}
                     )

    </insert>
    <insert id="insertHouseUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO house_user
        (house_id, user_id, create_time, type) VALUES
        (#{houseId},#{userId},#{createTime},#{type}
        )

    </insert>
    <update id="updateHouse">
        UPDATE house
        SET rating=#{rating}
        where id=#{id}
    </update>
    <delete id="deleteHouseUser">
        DELETE FROM house_user
        WHERE house_id=#{id} and user_id=#{userId}
    </delete>
    <select id="selectPageHouses" resultType="com.project.house.common.model.House">
        SELECT <include refid="houseField"/> from house a
        <include refid="houseCondition"/>
        <choose>
            <when test="house.sort!=null and house.sort=='price_asc'">
                order by a.price asc
            </when>
            <when test="house.sort!=null and house.sort=='price_desc'">
                order by a.price desc
            </when>
            <otherwise>
                order by a.create_time desc
            </otherwise>
        </choose>
            <if test="pageParams.offset!=null and pageParams.limit!=null">
                limit #{pageParams.offset},#{pageParams.limit}
            </if>
            <if test="pageParams.offset==null and pageParams.limit!=null">
                limit #{pageParams.limit}
            </if>
    </select>
    <select id="selectPageCount" resultType="java.lang.Long">
        select count(id) from house a
        <include refid="houseCondition"/>
    </select>
    <select id="selectCommunity" resultType="com.project.house.common.model.Community">
        select *
        from community
        <where>
            <if test="id!=null and id!=0">
                id=#{id}
            </if>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
        </where>
    </select>
    <select id="selectSaleHouseUser" resultType="com.project.house.common.model.HouseUser">
        select * FROM
        house_user
        WHERE
        house_id=#{id} and type=1
    </select>


</mapper>