<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.house.biz.mapper.UserMapper">
    <sql id="Base_Column_List" >
      id, name, phone, email, aboutme, passwd, avatar, type, create_time, enable, angency_id
    </sql>
    <insert id="insertUser">
        INSERT INTO user(name,phone,email,aboutme,passwd,avatar,type,create_time,enable)
        VALUES (#{name},#{phone},#{email},#{aboutme},#{passwd},#{avatar},#{type},#{enable},)
    </insert>
    <delete id="deleteByEmail">
        DELETE from user WHERE email=#{email}
    </delete>
    <select id="selectUsers" resultType="com.project.house.common.model.User">
        select id,name,email from user
    </select>
</mapper>